In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

Question 1

In [33]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [34]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [35]:
rank = driver.find_elements_by_xpath("//td[@align='center'][1]")
for i in rank[0:30]:
    Rank.append(i.text)

In [36]:
name = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//td[2]")
for i in name[0:30]:
    Name.append(i.text)

In [37]:
artist = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//td[3]")
for i in artist[0:30]:
    Artist.append(i.text)

In [38]:
date = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//td[5]")
for i in date[0:30]:
    Upload_date.append(i.text)

In [39]:
views = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//td[4]")
for i in views[0:30]:
    Views.append(i.text)

In [40]:
d1 = pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload_date':Upload_date,'Views':Views})
d1

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.04
1,2.,"""Despacito""[30]",Luis Fonsi,"January 12, 2017",7.23
2,3.,"""Shape of You""[31]",Ed Sheeran,"January 30, 2017",5.20
3,4.,"""See You Again""[32]",Wiz Khalifa,"April 6, 2015",4.99
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,"October 8, 2016",4.87
5,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.41
6,7.,"""Uptown Funk""[37]",Mark Ronson,"November 19, 2014",4.10
7,8.,"""Gangnam Style""[38]",Psy,"July 15, 2012",3.99
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,"February 27, 2018",3.72
9,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.71
10,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,"March 6, 2014",3.59
11,12.,"""Sorry""[43]",Justin Bieber,"October 22, 2015",3.41
12,13.,"""Sugar""[44]",Maroon 5,"January 14, 2015",3.40
13,14.,"""Roar""[45]",Katy Perry,"September 5, 2013",3.29
14,15.,"""Counting Stars""[46]",OneRepublic,"May 31, 2013",3.21
15,16.,"""Thinking Out Loud""[47]",Ed Sheeran,"October 7, 2014",3.20
16,17.,"""Dame Tu Cosita""[48]",El Chombo,"April 5, 2018",3.14
17,18.,"""Shake It Off""[49]",Taylor Swift,"August 18, 2014",3.02
18,19.,"""Faded""[50]",Alan Walker,"December 3, 2015",3.00
19,20.,"""Lean On""[51]",Major Lazer Official,"March 22, 2015",2.98
20,21.,"""Dark Horse""[52]",Katy Perry,"February 20, 2014",2.98
21,22.,"""Bailando""[53]",Enrique Iglesias,"April 11, 2014",2.98
22,23.,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",2.97
23,24.,"""Let Her Go""[55]",Passenger,"July 25, 2012",2.92
24,25.,"""Mi Gente""[56]",J Balvin,"June 29, 2017",2.87
25,26.,"""Hello""[57]",Adele,"October 22, 2015",2.79
26,27.,"""Perfect""[58]",Ed Sheeran,"November 9, 2017",2.76
27,28.,"""Waka Waka (This Time for Africa)""[59]",Shakira,"June 4, 2010",2.75
28,29.,"""Blank Space""[60]",Taylor Swift,"November 10, 2014",2.73
29,30.,"""Chantaje""[61]",Shakira,"November 18, 2016",2.63

In [41]:
driver.close()

Question 2

In [87]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://www.bcci.tv/")

In [88]:
all_fixtures=driver.find_element_by_xpath("//ul[@class='scroll-grid-phab block-list-4 block-list-3-wide block-list-3-desk block-list-2-tab block-list-1-phab js-slide slider__list match-slider']/li[22]/a")
url = all_fixtures.get_attribute('href')
url

'https://www.bcci.tv/international/fixtures'

In [89]:
driver.get(url)

In [90]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [91]:
mt = driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in mt:
    Match_title.append(i.text)
len(Match_title)

14

In [92]:
series= driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series:
    Series.append(i.text)
len(Series)

14

In [93]:
place = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place:
    Place.append(i.text)
len(Place)

14

In [94]:
date = driver.find_elements_by_xpath("//span[@class='fixture__date']")
month= driver.find_elements_by_xpath("//span[@class='fixture__month']")
for i in range(0,14):
    Date.append(date[i].text+' '+month[i].text)
len(Date)

14

In [95]:
time = driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in time:
    Time.append(i.text)
len(Time)

14

In [96]:
d2 = pd.DataFrame({'Match_title':Match_title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
d2

,Match_title,Series,Place,Date,Time
0,4th Test,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",04 MARCH,09:30 IST
1,1st T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",12 MARCH,19:00 IST
2,2nd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",14 MARCH,19:00 IST
3,3rd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",16 MARCH,19:00 IST
4,4th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",18 MARCH,19:00 IST
5,5th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",20 MARCH,19:00 IST
6,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",23 MARCH,13:30 IST
7,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",26 MARCH,13:30 IST
8,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",28 MARCH,13:30 IST
9,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04 AUGUST,15:30 IST
10,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12 AUGUST,15:30 IST
11,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25 AUGUST,15:30 IST
12,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02 SEPTEMBER,15:30 IST
13,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10 SEPTEMBER,15:30 IST

In [97]:
driver.close()

Question 3

In [100]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://www.guru99.com/")

In [101]:
selenium = driver.find_element_by_xpath("//ul[@class='menu']/li[3]/a")
selenium_url = selenium.get_attribute('href')
selenium_url

'https://www.guru99.com/selenium-tutorial.html'

In [102]:
driver.get(selenium_url)

In [109]:
exceptions = driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
url = exceptions.get_attribute('href')
url

'https://www.guru99.com/exception-handling-selenium.html'

In [110]:
driver.get(url)

In [114]:
Name=[]
Description=[]

In [115]:
for i in range(2,43):
    name= driver.find_element_by_xpath(f"//table[@class='table table-striped']/tbody/tr[{i}]/td[1]")
    description = driver.find_element_by_xpath(f"//table[@class='table table-striped']/tbody/tr[{i}]/td[2]")
    Name.append(name.text)
    Description.append(description.text)

In [116]:
Name

['ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [117]:
Description

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.",
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 "It occurs when command can't be finished when the element is invalid.",
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 "This occurs when remote WebDriver does n't send valid commands as expected."]

In [118]:
d3 = pd.DataFrame({'Name':Name,'Description':Description})
d3

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [119]:
driver.close()

Question 4

In [144]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("http://statisticstimes.com/")

In [145]:
india = driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")
india_url = india.get_attribute('href')
india_url

'http://statisticstimes.com/economy/india-statistics.php'

In [146]:
driver.get(india_url)

In [147]:
gdp_list = driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li")
gdp_list.click()

In [148]:
Rank=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]

In [149]:
for i in range(1,34):
    Rank.append(driver.find_element_by_xpath(f"//tbody/tr[@role='row'][{i}]/td[1]").text)
    State.append(driver.find_element_by_xpath(f"//tbody/tr[@role='row'][{i}]/td[2]").text)
    GSDP1.append(driver.find_element_by_xpath(f"//tbody/tr[@role='row'][{i}]/td[3]").text)
    GSDP2.append(driver.find_element_by_xpath(f"//tbody/tr[@role='row'][{i}]/td[4]").text)
    Share.append(driver.find_element_by_xpath(f"//tbody/tr[@role='row'][{i}]/td[5]").text)
    GDP.append(driver.find_element_by_xpath(f"//tbody/tr[@role='row'][{i}]/td[6]").text)

In [150]:
d4=pd.DataFrame({'Rank':Rank,'State':State,'GSDP(19-20)':GSDP1,'GSDP(18-19)':GSDP2,'Share':Share,'GDP':GDP})
d4

   Rank                      State GSDP(19-20) GSDP(18-19)   Share      GDP
0     1                Maharashtra           -   2,632,792  13.88%  398.145
1     2                 Tamil Nadu   1,845,853   1,630,208   8.59%  246.529
2     3              Uttar Pradesh   1,687,818   1,584,764   8.35%  239.656
3     4                    Gujarat           -   1,502,899   7.92%  227.276
4     5                  Karnataka   1,631,977   1,493,127   7.87%  225.798
5     6                West Bengal   1,253,832   1,089,898   5.75%  164.820
6     7                  Rajasthan   1,020,989     942,586   4.97%  142.543
7     8             Andhra Pradesh     972,782     862,957   4.55%  130.501
8     9                  Telangana     969,604     861,031   4.54%  130.210
9    10             Madhya Pradesh     906,672     809,592   4.27%  122.431
10   11                     Kerala           -     781,653   4.12%  118.206
11   12                      Delhi     856,112     774,870   4.08%  117.180
12   13                    Haryana     831,610     734,163   3.87%  111.024
13   14                      Bihar     611,804     530,363   2.80%   80.204
14   15                     Punjab     574,760     526,376   2.77%   79.601
15   16                     Odisha     521,275     487,805   2.57%   73.768
16   17                      Assam           -     315,881   1.67%   47.769
17   18               Chhattisgarh     329,180     304,063   1.60%   45.982
18   19                  Jharkhand     328,598     297,204   1.57%   44.945
19   20                Uttarakhand           -     245,895   1.30%   37.186
20   21            Jammu & Kashmir           -     155,956   0.82%   23.584
21   22           Himachal Pradesh     165,472     153,845   0.81%   23.265
22   23                        Goa      80,449      73,170   0.39%   11.065
23   24                    Tripura      55,984      49,845   0.26%    7.538
24   25                 Chandigarh           -      42,114   0.22%    6.369
25   26                 Puducherry      38,253      34,433   0.18%    5.207
26   27                  Meghalaya      36,572      33,481   0.18%    5.063
27   28                     Sikkim      32,496      28,723   0.15%    4.344
28   29                    Manipur      31,790      27,870   0.15%    4.215
29   30                   Nagaland           -      27,283   0.14%    4.126
30   31          Arunachal Pradesh           -      24,603   0.13%    3.721
31   32                    Mizoram      26,503      22,287   0.12%    3.370
32   33  Andaman & Nicobar Islands           -           -       -        -

In [151]:
driver.close()

Question 5

In [52]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://github.com/")

In [53]:
details = driver.find_elements_by_xpath("//details[@class='HeaderMenu-details details-overlay details-reset width-full']")
details

[<selenium.webdriver.remote.webelement.WebElement (session="6cd4c417dab14159829576becae3d6b9", element="af512e33-194b-479b-b69b-9df16cb583b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6cd4c417dab14159829576becae3d6b9", element="f1c2a1bb-0937-4d86-8bd4-e84586bb1ed0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6cd4c417dab14159829576becae3d6b9", element="ac6cac0d-5ffa-40f7-80c7-ae2097438507")>]

In [54]:
details[1].click()

In [55]:
trending = driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
trending

In [56]:
trending.click()

In [57]:
Title=[]
Description=[]
Cont_count=[]
l_used=[]

In [58]:
rep = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
url = []
for i in rep:
    url.append(i.get_attribute('href'))
len(url)

25

In [59]:
for i in url:
    driver.get(i)
    
    title = driver.find_element_by_xpath("//strong[@class='mr-2 flex-self-stretch']/a")
    Title.append(title.text)
    
    try:
        Description.append(driver.find_element_by_xpath("//div[@class='Box-body px-5 pb-5']").text)
    except NoSuchElementException:
        Description.append('-')
        
    try:
        Cont_count.append(driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[4]/div/h2/a/span").get_attribute('title'))
    except NoSuchElementException:
        Cont_count.append('-')
        
    lang_i=[]
    lang = driver.find_elements_by_xpath("//span[@class='color-text-primary text-bold mr-1']")
    for j in lang:
        lang_i.append(j.text)
    l_used.append(lang_i)

In [60]:
d5 = pd.DataFrame({'Title':Title,'Description':Description,'Contributors_count':Cont_count,'Languages_used':l_used})
d5

,Title,Description,Contributors_count,Languages_used
0,dolt,Dolt\nDolt is Git for Data!\nDolt is a SQL dat...,21,"[Go, Shell, Python, Lua, C#, C]"
1,CLIP,CLIP\n[Blog] [Paper] [Model Card] [Colab]\nCLI...,-,"[Jupyter Notebook, Python]"
2,googletest,GoogleTest\nOSS Builds Status\nAnnouncements\n...,316,"[C++, Python, CMake, C, Starlark, Shell, Makef..."
3,flutter,Flutter is Google's SDK for crafting beautiful...,-,"[Dart, Objective-C, Java, C++, Shell, CMake, O..."
4,git,"Git - fast, scalable, distributed revision con...","1,446","[C, Shell, Perl, Tcl, Python, Makefile, Other]"
5,apkleaks,"APKLeaks\nScanning APK file for URIs, endpoint...",0,[Python]
6,lede,欢迎来到Lean的Openwrt源码仓库！\nEnglish\n如何编译自己需要的 Open...,-,"[C, Makefile, Shell, C++, Roff, Python, Other]"
7,cs-video-courses,Computer Science courses with video lectures\n...,43,[]
8,flutter-folio,Flutter Folio\nA demo app showcasing how Flutt...,-,"[Dart, C++, CMake, Swift, HTML, Ruby, Other]"
9,wsbtrades,-,-,[Python]
10,d2go,D2Go\nD2Go is a production ready software syst...,-,"[Python, Cuda, C++]"
11,CSS-Exchange,CSS Exchange Scripts\nThe Repository\nThis rep...,7,"[PowerShell, HTML, Lua]"
12,unit-testing-tips,Unit testing tips by examples in PHP\nIntroduc...,-,[]
13,engineering-blogs,Software Engineering Blogs\nSubscribe to dev w...,-,[Ruby]
14,AZ-104-MicrosoftAzureAdministrator,AZ-104: Microsoft Azure Administrator\nThere i...,-,[PowerShell]
15,app-ideas,📒 App Ideas Collection\nHave you ever wanted t...,-,[]
16,javascript-algorithms,JavaScript Algorithms and Data Structures\nThi...,0,[JavaScript]
17,free,free\n更新时间 2021-03-07 12:00\n也许又开始了\n翻墙、免费翻墙、免...,-,[]
18,nushell,README\nNushell\nA new type of shell.\nStatus\...,200,"[Rust, Dockerfile]"
19,upgrow,Upgrow\nHeads Up!\nThis project is a work in p...,-,"[Ruby, HTML, JavaScript, CSS]"
20,GNNPapers,Must-read papers on GNN\nGNN: graph neural net...,23,[]
21,zola,zola (né Gutenberg)\nA fast static site genera...,218,"[Rust, HTML, Shell, PowerShell, Python, Docker..."
22,vscode,"Visual Studio Code - Open Source (""Code - OSS""...","1,370","[TypeScript, JavaScript, CSS, Inno Setup, HTML..."
23,jd_maotai_seckill,Jd_Seckill\n特别声明:\n本仓库发布的jd_seckill项目中涉及的任何脚本，...,-,[Python]
24,learn-cantrill-io-labs,learn-cantrill-io-labs\nWelcome .. this repo s...,-,"[Shell, PowerShell, JavaScript, HTML, PHP, Pyt..."

In [61]:
driver.close()

Question 6

In [89]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://www.billboard.com/")

In [90]:
hot_100 = driver.find_elements_by_xpath("//li[@class='header__subnav__item']/a")
url=[]
for i in hot_100:
    url.append(i.get_attribute('href'))

In [91]:
url

['https://www.billboardwomeninmusic.com/',
 'https://www.billboardevents.com/',
 'https://www.billboard.com/charts/hot-100',
 'https://www.billboard.com/charts/billboard-200',
 'https://www.billboard.com/charts/billboard-global-200',
 'https://www.billboard.com/chart-beat',
 'https://www.billboard.com/hondastage']

In [92]:
driver.get(url[2])

In [93]:
S_name=[]
A_name=[]
L_w_r=[]
P_r=[]
W_o_b=[]

In [94]:
s = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in s:
    S_name.append(i.text)
len(S_name)

100

In [95]:
a = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in a:
    A_name.append(i.text)
len(A_name)

100

In [96]:
lwr = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lwr:
    L_w_r.append(i.text)
len(L_w_r)

100

In [97]:
pr = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in pr:
    P_r.append(i.text)
len(P_r)

100

In [98]:
wob = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in wob:
    W_o_b.append(i.text)
len(W_o_b)

100

In [99]:
d6 = pd.DataFrame({'Song name':S_name,'Artist name':A_name,'Last week rank':L_w_r,'Peak rank':P_r,'Weeks on board':W_o_b})
d6

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Drivers License,Olivia Rodrigo,1,1,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,2,17
4,Blinding Lights,The Weeknd,4,1,64
...,...,...,...,...,...
95,The Business,Tiesto,-,96,1
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,1
97,Monster,Shawn Mendes & Justin Bieber,91,8,14
98,Track Star,Mooski,-,99,1
99,Like I Want You,Giveon,95,95,2

In [100]:
driver.close()

Question 7

In [150]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://www.naukri.com/")

In [151]:
rec = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
url = rec.get_attribute('href')
url

'https://www.naukri.com/recruiters'

In [152]:
driver.get(url)

In [153]:
inp = driver.find_element_by_xpath("//input[@class='sugInp']")
inp.send_keys('Data science')

In [154]:
search = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search.click()

In [155]:
Name=[]
Designation=[]
Company=[]
Skills = []
Location=[]

In [156]:
name = driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in name:
    Name.append(i.text)
len(Name)

50

In [157]:
des = driver.find_elements_by_xpath("//span[@class='ellipsis clr'][1]")
for i in des:
    Designation.append(i.text)
len(Designation)

50

In [158]:
company = driver.find_elements_by_xpath("//a[@class='ellipsis'][2]")
for i in company:
    Company.append(i.text)
len(Company)

50

In [159]:
parent = driver.find_elements_by_xpath("//div[@class='vcard']")
for i in parent:
    try:
        loc = i.find_element_by_xpath(".//small[@class='ellipsis']")
        Location.append(loc.text)
    except NoSuchElementException:
        Location.append('-')
len(Location)

50

In [160]:
skills = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skills:
    Skills.append(i.text)
len(Skills)

50

In [161]:
d7 = pd.DataFrame({'Name':Name,'Designation':Designation,'Company name':Company,'Location':Location,'Skills hired for':Skills})
d7

,Name,Designation,Company name,Location,Skills hired for
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,Chandigarh,"Web Designing, html5, Angular.js, seo, hadoop,..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
5,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,Delhi,"Python, Data Science, .Net, Java, Big Data, Da..."
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
10,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
12,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
13,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
15,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
16,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
21,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
24,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
25,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
27,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,-,"Signal Processing, Machine Learning, Neural Ne..."
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies, Project Management, Software..."
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
31,Prateek Kumar,Head,Trisect,Noida,"Java, Python, Angularjs, Software Testing, Mac..."
32,Amit Sharma,Consultant,ASCO consulting,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
33,Kanan,senior technology instructor,NY INST,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,"Relationship Management, Retail Sales, Private..."
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Data Science, Software Engineering"
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Data Science, Big Data Analytics, Digital Mark..."
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
38,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Software Development, Business Intelligence, B..."
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
41,Ashwini,Director Global Delivery,MRP Advisers,MYSORE,"Data Science, Media Marketing, Resource Planni..."
42,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
43,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
44,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
45,Amir Chowdhury,Managing Partner,Granular.ai,-,"Machine Learning, Data Science, Product Manage..."
46,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad,"Data Science, Machine Learning, Big Data Analy..."
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,Noida,"consulting, Education Counseling, Educational ..."
48,Sunny Sharma,Managing Director - HR,Western Service Providers,Mumbai,"Software Professionals, Engineering, Technical..."
49,Sagar Lama,Company HR Manager,AdView,Bengaluru / Bangalore,"Full Stack Developers, Product Manager, Data S..."

In [162]:
driver.close()

Question 8

In [198]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [199]:
Bname=[]
Aname=[]
Vs=[]
Publisher=[]
Genre=[]

In [200]:
for i in range(1,101):
    Bname.append(driver.find_element_by_xpath(f"//tbody/tr[{i}]/td[2]").text)
    Aname.append(driver.find_element_by_xpath(f"//tbody/tr[{i}]/td[3]").text)
    Vs.append(driver.find_element_by_xpath(f"//tbody/tr[{i}]/td[4]").text)
    Publisher.append(driver.find_element_by_xpath(f"//tbody/tr[{i}]/td[5]").text)
    Genre.append(driver.find_element_by_xpath(f"//tbody/tr[{i}]/td[6]").text)

In [201]:
d8 = pd.DataFrame({'Book name':Bname,
                  'Author name':Aname,
                  'Volumes sold':Vs,
                  'Publisher':Publisher,
                  'Genre':Genre})
d8

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [202]:
driver.close()

Question 9

In [179]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://www.imdb.com/list/ls095964455/")

In [180]:
Name=[]
Ys=[]
Genre=[]
Rt=[]
Ratings= []
Votes=[]

In [181]:
name = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)
len(Name)

100

In [182]:
ys = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
for i in ys:
    Ys.append(i.text)
len(Ys)

100

In [183]:
genre = driver.find_elements_by_xpath("//span[@class='genre']")
for i in genre:
    Genre.append(i.text)
len(Genre)

100

In [184]:
rt = driver.find_elements_by_xpath("//span[@class='runtime']")
for i in rt:
    Rt.append(i.text)
len(Rt)

100

In [185]:
rating = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
for i in rating:
    Ratings.append(i.text)
len(Ratings)

100

In [186]:
votes = driver.find_elements_by_xpath("//span[@name='nv']")
for i in votes:
    Votes.append(i.text)
len(Votes)

100

In [187]:
d9 = pd.DataFrame({'Name':Name,
                  'Year span':Ys,
                  'Genre':Genre,
                  'Runtime':Rt,
                  'Rating':Ratings,
                  'Votes':Votes})
d9

,Name,Year span,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,777,592"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"828,273"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"856,474"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,118"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,616"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,752"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,070"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,165"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,194"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"183,738"

In [188]:
driver.close()

Question 10

In [286]:
# opening the automated window and the desired webpage
driver = webdriver.Chrome("chromedriver.exe") 
driver.get("https://archive.ics.uci.edu/")

In [287]:
ad= driver.find_elements_by_xpath("//span[@class='whitetext']/a")
url=[]
for i in ad:
    url.append(i.get_attribute('href'))
url

['https://archive.ics.uci.edu/ml/about.html',
 'https://archive.ics.uci.edu/ml/citation_policy.html',
 'https://archive.ics.uci.edu/ml/donation_policy.html',
 'https://archive.ics.uci.edu/ml/contact.html',
 'https://archive.ics.uci.edu/ml/datasets.php']

In [288]:
driver.get(url[4])

In [289]:
Name=[]
Type=[]
Task=[]
Atype=[]
Noi=[]
Noa=[]
Year=[]

In [290]:
for i in range(2,587):
    Name.append(driver.find_element_by_xpath(f"//table[@border='1']/tbody/tr[{i}]/td[1]").text)
    Type.append(driver.find_element_by_xpath(f"//table[@border='1']/tbody/tr[{i}]/td[2]").text)
    Task.append(driver.find_element_by_xpath(f"//table[@border='1']/tbody/tr[{i}]/td[3]").text)
    Atype.append(driver.find_element_by_xpath(f"//table[@border='1']/tbody/tr[{i}]/td[4]").text)
    Noi.append(driver.find_element_by_xpath(f"//table[@border='1']/tbody/tr[{i}]/td[5]").text)
    Noa.append(driver.find_element_by_xpath(f"//table[@border='1']/tbody/tr[{i}]/td[6]").text)
    Year.append(driver.find_element_by_xpath(f"//table[@border='1']/tbody/tr[{i}]/td[7]").text)

In [291]:
d10 = pd.DataFrame({'Dataset name':Name,
                   'Dataset type':Type,
                   'Task':Task,
                   'Attribute type':Atype,
                   'Number of instances':Noi,
                   'Number of Attributes':Noa,
                   'Year':Year})
d10

,Dataset name,Dataset type,Task,Attribute type,Number of instances,Number of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,,26737,4,2020
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020

In [292]:
driver.close()